@font-face {
  font-family: "iconfont"; /* Project id 2666012 */
  src: url('iconfont.woff2?t=1637571007523') format('woff2'),
       url('iconfont.woff?t=1637571007523') format('woff'),
       url('iconfont.ttf?t=1637571007523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yisheng:before {
  content: "\e683";
}

.icon-jiaolian1:before {
  content: "\e69d";
}

.icon-yundongyuan:before {
  content: "\e698";
}

.icon-back:before {
  content: "\e670";
}

.icon-zhaohuimima:before {
  content: "\e63f";
}

.icon-huoquyanzhengma:before {
  content: "\e629";
}

.icon-wangjimima:before {
  content: "\e66b";
}

.icon-lizhishenqing:before {
  content: "\e692";
}

.icon-pingjia:before {
  content: "\e6c8";
}

.icon-baocun:before {
  content: "\f1aa";
}

.icon-pingjia1:before {
  content: "\e62f";
}

.icon-xiugai:before {
  content: "\e630";
}

.icon-jiazai:before {
  content: "\e6bf";
}

.icon-email:before {
  content: "\e607";
}

.icon-gongsi:before {
  content: "\e617";
}

.icon-dianhua01:before {
  content: "\e68e";
}

.icon-zhongzhi:before {
  content: "\e60a";
}

.icon-tijiao:before {
  content: "\e628";
}

.icon-zhuce:before {
  content: "\e61e";
}

.icon-qialuli:before {
  content: "\e7b4";
}

.icon-shangpin:before {
  content: "\e648";
}

.icon-denglu:before {
  content: "\e62e";
}

.icon-shiwu:before {
  content: "\e691";
}

.icon-51:before {
  content: "\e6a4";
}

.icon-ziyuan22:before {
  content: "\e778";
}

.icon-mima:before {
  content: "\e60f";
}

.icon-yuangong:before {
  content: "\e612";
}

.icon-guanliyuan:before {
  content: "\e67b";
}

.icon-liebiao:before {
  content: "\e600";
}

